<p><b>Bem-Vindo!</b><br />
Este é o sistema de agendamento de reuniões.<br />
Clique em um dos links abaixo para acessar as funcionalidades do sistema.</p>
<%= link_to "Reuniões", meetings_path %>
<%= link_to "Participantes", participants_path %>
