<p><b>Welcome!</b><br />
This is a meeting management system.<br />
Clink in the links below to know the features of the system.</p>
<%= link_to "Meetings", meetings_path %>
<%= link_to "Participants", participants_path %>
<%= link_to "Documentation"%>
