<h1>Listing meeting_participant_join_tables</h1>

<table>
  <tr>
  </tr>

<% @meeting_participant_join_tables.each do |meeting_participant_join_table| %>
  <tr>
    <td><%= link_to 'Show', meeting_participant_join_table %></td>
    <td><%= link_to 'Edit', edit_meeting_participant_join_table_path(meeting_participant_join_table) %></td>
    <td><%= link_to 'Destroy', meeting_participant_join_table, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New meeting_participant_join_table', new_meeting_participant_join_table_path %>